@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: "Montserrat",sans-serif;
  color-scheme: light;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}